@font-face {
    font-family: "Merriweather";
    src: url("../assets/fonts/Merriweather-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Miller-Display";
    src: url("../assets/fonts/Miller-Display_30501.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Montserrat-Bold";
    src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Montserrat-Regular";
    src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  }

